body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Roboto';
}

header {
  background-color: #1F2937;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  margin: 12px auto;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

li {
  color: #f8e1fd;
  font-size: 18px;
}

.logo {
  color: #d18ede;
  font-size: 24px;
  font-weight: 930;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo > img {
  height: 70px;
  width: auto;
}

.hero {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding: 60px;
  width: 1050px;
  margin: auto;
}

.hero-text {
  width: 700px;
}

.hero-text > h1  {
  color: #f8e1fd;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-text > p {
  color: #f8e1fd;
  font-size: 18px;
  margin: 20px 0;
}

img {
  width: 800px;
  height: 500px;
}

.hero-text > button {
  color: white;
  background-color: #094fba;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 16px;
}

.info {
  margin: auto;
}

.info > h2 {
  font-size: 36px;
  color: #0b254d;
  font-weight: 900;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1050px;
  margin: auto;
  margin-bottom: 20px;
}

.card {
  width: 200px;
}

.card > img {
  max-width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card > p {
  text-align: justify;
}

.quote {
  background-color: #E5E7EB;
  margin: auto;
}

.quote-container {
  max-width: 800px;
  margin: auto;
  padding: 40px 0;
}

.quote-text {
  text-align: justify;
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
}

.quote-author {
  text-align: end;
  font-weight: 900;
}

.cta {
  padding: 100px;
}

.container {
  background-color: #3882F6;
  display: flex;
  margin: auto;
  max-width: 1050px;
  border-radius: 10px;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}

.cta-main {
  margin: 70px 0;
}

.cta-main > h3 {
  color: #F9FAF8;
  margin: 0;
  font-size: 26px;
}

.cta-main > p {
  color: #E5E7EB;
  margin: 0;
  font-size: 18px;
}

.container > button {
  color: white;
  background-color: #3882F6;
  border: 0;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid #F9FAF8;
}


footer {
  background-color: #1F2937;
}

footer > p {
  color: #E5E7EB;
  text-align: center;
  margin: 40px 0;
}